<div class="wrapper style2">
	<article id="main" class="container special">
        <h2>Pedro Mendez</h2>
        <p>Find me in app/views/home/index.html.erb</p>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia laborum dicta distinctio dolores delectus modi architecto quidem illum repellendus tenetur? Quo aspernatur et quas vero iure nam sapiente in. Provident!</h1>
    </article>
</div>