<div class="wrapper style2">
	<article id="main" class="container special">
        <h2>about_us</h2>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia laborum dicta distinctio dolores delectus modi architecto quidem illum repellendus tenetur? Quo aspernatur et quas vero iure nam sapiente in. Provident!</h1>
    </article>
</div>
